.task_card {
	width: 100%;
	min-height: 100px;
	border: 1px solid #dcdcdc;
	border-radius: 10px;
	padding: 15px;
	margin-bottom: 15px;
	cursor: grab;

	display: flex;
}

.task_content {
	flex: 1;
}

.task_card:active {
	opacity: 0.7;
	border: 1px solid #111;
}

.task_text {
	font-size: 18px;
	/* font-weight: 600; */
	/* margin-bottom: 15px; */
}

.task_text.input {
	border: 1px solid blue;
	border-radius: 5px;
	padding-inline: 5px;
}

.task_text[contenteditable="true"] {
	border: 1px solid blue;
}

.task_card_bottom_line {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.task_icon_wrap {
	width: 35px;
	height: 35px;
	border-radius: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	transition: all 0.3s ease-in-out;
}

.task_icon_wrap:hover {
	background-color: #ebebeb;
}

/* .delete_icon {
} */
.task_icon {
	opacity: 50%;
	width: 20px;
	transition: all 0.3s ease-in-out;
}

.task_icon_wrap:hover .task_icon {
	opacity: 80%;
}
